
<% provide(:title, "Sign in") %>
<div class="registration-form clearfix">
<h1>Sign in</h1>

   
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %><br/><br/>

      <%= f.label :password %>
      <%= f.password_field :password %><br/><br/>

      <%= f.submit "Sign in" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>x

</div>
  
