<div id="navigation" class="clearfix"> 
  <ul> 
        <li><%=link_to "Regular Cakes", products_path(:id => ProductType::REGULAR_CAKES) %></li> 
        <li><%=link_to "Wedding Cakes", products_path(:id => ProductType::WEDDING_CAKES) %></li> 
        <li><%=link_to "Special Cakes", products_path(:id => ProductType::SPECIAL_CAKES) %></li> 
        <li><%=link_to "Children Cakes",products_path(:id => ProductType::CHILDREN_CAKES) %></li> 
        <li><%=link_to "Numbered Cakes", products_path(:id => ProductType::NUMBERERD_CAKES) %></li> 
  </ul> 
</div> 
